body{
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: system-ui;
    color: white;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section .calculator{
    background-color: #0F2028;
    border-radius: 10px;
    padding: 20px;
}

section input{
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
    text-align: right;
    
}

section button{
    background-color: #244d61;
    border-radius: .6rem;
    border-style: none;
    color: white;
    padding: 1rem;
}

section button:hover{
    background-color: #2b4956;
}

.keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

.zero{
    grid-column: span 2;
    background-color: #193643;
}

.equals {
    grid-row: span 2;
    background-color: #b2164f;
    color: white;
}

.number{
    background-color: #193643;
    color: white;
}
