body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(0,10,11,1) 100%);
    font-family: monospace;
    color: white;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section div{
    background: rgb(1, 0, 29);
    padding: 20px;
    border-radius: 10px;
}

section input{
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
    text-align: right;
    
}

section button{
    background-color: rgb(4, 0, 82);
    border-radius: .6rem;
    border-style: none;
    color: white;
    padding: 1rem;
}

section button:hover{
    background-color: rgb(12, 0, 179);
}

.keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

.zero{
    grid-column: span 2;
    background-color: #0f0085;
}

.equals {
    grid-row: span 2;
    background-color: #ae660e;
    color: white;
}

.number{
    background-color: #0f0085;
    color: white;
}
